.border_radius_30 {
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}

.text_color_dark_dark_blue {
    -fx-text-fill: #002E48;
}

.text_color_dark_blue {
    -fx-text-fill: #004972;
}

.background_color_blue {
    -fx-background-color: #007FC5;
}

.text_color_blue_white {
    -fx-text-fill: #FAFBFF;
}

.background_color_blue_white {
    -fx-background-color: #FAFBFF;
}

.text_color_dark_dark_green {
    -fx-text-fill: #0A2500;
}

.shadow_25 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 0, 4);
}

.shadow_25_side {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0, 1, 5);
}

.shadow_50 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 4);
}

.bold_36 {
    -fx-font-weight: bold;
    -fx-font-size: 34px;
}

.bold_28 {
    -fx-font-weight: bold;
    -fx-font-size: 27px;
}

.bold_24 {
    -fx-font-weight: bold;
    -fx-font-size: 23px;
}

.bold_20 {
    -fx-font-weight: bold;
    -fx-font-size: 19px;
}

.font_22 {
    -fx-font-size: 21px;
}

#text_login_page {
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

#prodCard_blue {
    -fx-border-radius: 30px;
    -fx-background-radius: 31px;
    -fx-border-width: 2px;
    -fx-border-color: #007FC5;
    -fx-background-color: #F1F4FF;
}

#prodCard_green {
    -fx-border-radius: 30px;
    -fx-background-radius: 32px;
    -fx-border-width: 4px;
    -fx-border-color: #A3E983;
    -fx-background-color: #E3FFD6;
}

#white_button {
    -fx-text-fill: #004972;
    -fx-background-color: #FAFBFF;
    -fx-padding: 0px;
}

#blue_button {
    -fx-text-fill: #FAFBFF;
    -fx-background-color: #007FC5;
    -fx-padding: 0px;
}

#red_button {
    -fx-text-fill: #210A00;
    -fx-background-color: #FE8652;
    -fx-border-color: #210A00;
    -fx-padding: 0px;
}